<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <form class="form-signin">
  <label class="sr-only">Titre</label>
  <%= form.text_field :name, id: :article_name, :placeholder => "Titre de l'article" %><br>
  <label class="sr-only">Chapo</label>
  <%= form.text_area :excerpt, id: :article_excerpt, :placeholder => "Résumé" %><br>
  <label class="sr-only">Texte</label>
  <%= form.text_area :text, id: :article_text, :placeholder => "Texte" %>
  <%= form.submit %>
  </form>

<% end %>

