<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <form class="form-signin">
  <label class="sr-only"><%= form.label :name %></label>
  <%= form.text_field :name, id: :article_name %><br>
  <label class="sr-only"><%= form.label :excerpt %></label>
  <%= form.text_area :excerpt, id: :article_excerpt %><br>
  <label class="sr-only"><%= form.label :text %></label>
  <%= form.text_area :text, id: :article_text %>
  <button class="btn btn-lg btn-primary btn-block" type="submit"><%= form.submit %></button>
  </form>

<% end %>
