<p id="notice"><%= notice %></p>


   <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 topbar">
     <%= link_to articles_path do %>
       <%= content_tag :div, "", :class => "mr-md-auto logo" %>
      <% end %>
     <nav class="my-2 my-md-0">
      <% @categories.each do |category| %>
      <%= link_to category do %>
      <a class="btn btn-outline-primary top-btt category" style ="background: linear-gradient(to right, <%= category.color_from%>,<%= category.color_to %>);transition: 0.3s;"href="#"><%= category.name %></a>
       <% end %>
    <% end %>
     </nav>
  <% if user_signed_in? %>
  <%= link_to new_article_path do %>
       <%= content_tag :div, "Nouvel article", :class => "btn btn-outline-warning" %>
      <% end %>
    <%= link_to destroy_user_session_path, method: :delete do %>
       <%= content_tag :div, "Déconnexion", :class => "btn btn-outline-danger" %>
      <% end %>

<% end %>
   </div>


   <div class="container">
     <div class="card-columns">
      <% @articles.each do |article| %>
      <%= link_to article do %>
       <div class="card card-path">
         <div class="card-body">
           <h5 class="card-title"><%= article.name %></h5>
           <p class="card-text"><%= article.excerpt %></p>
         </div>
         <%= link_to article do %>
       <p class="lecture category" style ="background: linear-gradient(to right, <%= article.category.color_from%>,<%= article.category.color_to%>)"%>Lire ⇾</p>
      <% end %>
       </div>
       <% end %>
    <% end %>
    </div>
    </div>
