<p id="notice"><%= notice %></p>


   <div class="d-flex flex-column flex-md-row align-items-center p-3 mb-3 topbar">
     <%= link_to articles_path do %>
       <%= content_tag :div, "", :class => "mr-md-auto logo" %>
      <% end %>
     <nav class="my-2 my-md-0">
     <a class="btn btn-outline-primary logement top-btt" href="#">Logement</a>
     <a class="btn btn-outline-primary etudes top-btt" href="#">Etudes</a>
     <a class="btn btn-outline-primary travail top-btt" href="#">Travail</a>
     <a class="btn btn-outline-primary finances top-btt" href="#">Finances</a>
     <a class="btn btn-outline-primary quotidien top-btt" href="#">Quotidien</a>
     <a class="btn btn-outline-primary assurances top-btt" href="#">Assurances</a>
     </nav>
  <% if user_signed_in? %>
  <%= link_to new_article_path do %>
       <%= content_tag :div, "Nouvel article", :class => "btn btn-outline-warning" %>
      <% end %>
    <%= link_to destroy_user_session_path, method: :delete do %>
       <%= content_tag :div, "Déconnexion", :class => "btn btn-outline-danger" %>
      <% end %>

<% end %>
   </div>


   <div class="container">
     <div class="card-columns">
      <% @articles.each do |article| %>
      <%= link_to article do %>
       <div class="card card-path">
         <div class="card-body">
           <h5 class="card-title"><%= article.name %></h5>
           <p class="card-text"><%= article.excerpt %></p>
         </div>
         <%= link_to article do %>
       <%= content_tag :p, "Lire ⇾", :class => "travail lecture" %>
      <% end %>
       </div>
       <% end %>
    <% end %>
    </div>
    </div>
