<p id="notice"><%= notice %></p>
   <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 topbar">
     <div class="mr-md-auto logo"></div>
     <nav class="my-2 my-md-0 mr-md-3">
        
     </nav>
     <%= link_to 'Back', articles_path %>
   </div>
   <div class="container">
       <div class="card article">
         <p class="assurances titre">Assurances</p>
         <div class="card-body">
           <h5 class="card-title"><%= @article.name %></h5>
           <p class="card-text"><%= @article.text %></p>
         </div>
         <%= link_to 'Edit', edit_article_path(@article) %>
       </div>
    </div>
