<div class="card article">
  <p class="titre" style="background : linear-gradient(to right, <%= @article.category.color_from%>, <%= @article.category.color_to%>);"><%=@article.category %></p>
  <%= link_to articles_path do %>
    <div class="cross"></div>
  <% end %>
  <div class="card-body body-article">
    <h5 class="card-title-article"><%= @article.name %></h5>
    <p class="card-text-excerpt"><%= @article.excerpt %></p>
    <p class="card-text-article"><%= @article.text.html_safe %></p>
  </div>
  <% unless user_signed_in?%>
    <center>
      <div class="edit">
        <%= link_to 'Retour', articles_path, :class => "btn btn-outline-dark", :style=>'margin:50px;' %>
      </div>
    </center>
  <% end %>
  <% if user_signed_in?%>
    <div class="edit">
      <%= link_to 'Modifier', edit_article_path(@article), :class => "btn btn-secondary", :style=>'color:#FFFFFF;margin-bottom:15px;' %>
      <%= link_to 'Supprimer', @article, method: :delete, data: { confirm: 'Etes-vous sur ?' }, :class => "btn btn-danger", :style=>'color:#FFFFFF;margin-bottom:15px;' %>
   </div>
  <% end %>
</div>
