<p id="notice"><%= notice %></p>
   <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 topbar">
     <div class="mr-md-auto logo"></div>
     <nav class="my-2 my-md-0 mr-md-3">

     </nav>
     <%= link_to 'Retour', articles_path %>
   </div>
   <div class="container">
       <div class="card article">
         <p class="assurances titre">Assurances</p>
         <div class="card-body">
          <div class="image">
          <%= link_to articles_path do %>
       <%= content_tag :i, "", :class => "fas fa-times" %>
     <% end %>
          </div>
           <h5 class="card-title-article"><%= @article.name %></h5>
           <p class="card-text-excerpt"><%= @article.excerpt %></p>
           <p class="card-text-article"><%= @article.text %></p>
         </div>
         <% if user_signed_in?%>
           <div class="edit">
         <%= link_to 'Edit', edit_article_path(@article) %>
         <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Etes-vous sur ?' }, class: 'btn btn-default btn-xs'%>
           </div>
           <% end %>
       </div>
    </div>
