<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 <form class="form-signin">
  <label class="sr-only">E-mail</label>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "E-mail" %><br>
  <label class="sr-only">Mot de passe</label>
  <%= f.password_field :password, autocomplete: "off", :placeholder => "Mot de passe" %><br>
  <%= f.submit "Log in" %>
  </form>

<%= render "devise/shared/links" %>





